<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.veljko.projekat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/moja_ikona_foreground"
        android:label="@string/матфраспоред"
        android:roundIcon="@mipmap/moja_ikona_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:hardwareAccelerated="false">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".ThirdActivity" />
        <activity android:name=".FourthActivity" />
        <activity
            android:name=".FifthActivity"
            android:label="@string/title_activity_fifth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TmpActivity" />
        <activity android:name=".SixthActivity"/>
    </application>

</manifest>